---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Welcome',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Porfolio', href: '#porfolio' },
        { text: 'Blog', href: '#blog' },
        { text: 'Github', href: 'https://github.com/onwidget' },
      ]}
      actions={[
        {
          text: 'Hire me',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Luc Muhizi"
    tagline="Welcome to my site"
    actions={[{ variant: "primary", target: '_blank', text: 'Hire me', href: '/' }]}
  >
    <Fragment slot="subtitle">
      Transforming Code into Solutions, One Line at a Time. <br /> With 5 years of experience and a quick learner mentality,
      I infuse vitality into brands and designs, transforming concepts into
      captivating realities.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-dribbble',
        callToAction: {
          target: '_blank',
          text: 'Next JS',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-behance',
        callToAction: {
          target: '_blank',
          text: 'Astro',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-pinterest',
        callToAction: {
          target: '_blank',
          text: 'VS Code',
          href: '#',
        },
      },
    ]}
    image={{
      src: 'src/assets/images/portfolio.avif',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h3>
      <p>
        Welcome to my world of code and innovation. My projects stand as evidence of my dedication to turning abstract concepts into tangible solutions, 
        where each line of code contributes to a masterpiece of functionality and user experience.
      </p>
      <br />
      <p>
        I draw my inspiration from a range of sources—be it the complex algorithms that solve real-world problems, the elegant simplicity of clean code,
         or the transformative potential of technology in our lives.
      </p>
      <br />
      <p>If you're interested in exploring my work further, feel free to delve into my portfolio</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Software Engineer <br /> <span class="font-normal">Waape, Remote</span> <br /> <span class="text-sm font-normal">2023 - Present</span>',
        description: `Collaborate with clients to gather software requirements and objectives.<br /> Develop scalable and efficient software solutions, including backend systems, APIs, and data architectures. <br /> Implement feature-rich applications that deliver exceptional user experiences.<br /> Design and optimise user interfaces for web and mobile applications, ensuring both functionality and aesthetic appeal.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Software Engineer <br /> <span class="font-normal">Independent Contractor,Remote</span> <br /> <span class="text-sm font-normal">2020 - 2022</span>',
        description: `Assisted senior developers in crafting software architectures and implementing features. <br /> Contributed to the development of robust applications and system components.<br /> Collaborated with the product and engineering teams to ensure consistent code quality and functionality across projects.<br /> Gained hands-on experience in various programming languages, frameworks, and development tools.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Bachelor of Science in Software Development <br /> <span class="font-normal">Algonquin College</span> <br /> <span class="text-sm font-normal">2020 - 2023</span>`,
        icon: 'tabler:school',
      }
      /*,
      {
        title: `High  <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2014 - 2018</span>`,
        icon: 'tabler:school',
      },*/
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    subtitle="Discover the proficiencies that allow me to bring imagination to life through code."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Next.js Development',
        description: 'Proficient in building server-rendered React applications using Next.js.',
      },
      {
        title: 'React Framework',
        description: 'Skilled at creating dynamic, scalable, and maintainable web applications with React.',
      },
      {
        title: 'State Management',
        description: 'Experienced in managing application state using libraries like Redux or React Context.',
      },
      {
        title: 'API Integration',
        description: 'Adept at integrating RESTful and GraphQL APIs into frontend applications.',
      },
      {
        title: 'Responsive Design',
        description: 'Skilled in developing responsive web designs that adapt to different screen sizes.',
      },
      {
        title: 'Web Technologies',
        description: 'Proficient in HTML, CSS, and JavaScript, the building blocks of web development.',
      },
      {
        title: 'Version Control',
        description: 'Knowledgeable in using Git for source code management and team collaboration.',
      },
      {
        title: 'Attention to Detail',
        description: 'Diligent in maintaining code quality, performance, and user experience in all development work.',
      },
      {
        title: 'Adaptability',
        description: 'Quick to adapt to new web technologies, frameworks, and client requirements.',
      }
    ]
    }
  />

  <!-- Content Widget **************** -->

  <Content
    id="porfolio"
    title="Elevating visual narratives to reality"
    subtitle="Embark on a coding journey that goes beyond mere lines of code, entering a realm of problem-solving and innovation. Explore my portfolio, where technical expertise and creative thinking converge to shape compelling digital solutions."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Developed a marketplace that connects farmers to consumers, allowing farmers to sell their produce directly to consumers. The project was developed using the Next JS with custom built backends',
      },
      {
        title: 'Role:',
        description:
          'Lead the development of the staging platform, working closely with the product manager and the design team to ensure the platform met the client’s requirements. Collaborated with the backend team to integrate the frontend with the backend.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://famunera.com/home',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 1: <br /><span class="text-2xl">Famunera</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'Built from scratch a fully decentralized platform that allows users to exchange NFTs. This was built using the Ethereum blockchain and the Solidity programming language. ',
      },
      {
        title: 'Role:',
        description: `Was the sole developer of the platform using my understanding of the full stack development circle.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 2: <br /><span class="text-2xl">Decentralized Blockchain Marketplace</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Redesigned the e-commerce website for a revamped and updated look. Was collaborated closely with the product manager and the design team to ensure the platform met the client’s requirements`,
      },
      {
        title: 'Role:',
        description: `Lead the design and implementation of this site using my design skills to translate the clients needs to a fully functional website.`,
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 3: <br /><span class="text-2xl">E-commerce website redesign for restaurant and bar</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let's create together"
    subtitle="Ready to transform your vision into actual tech?"
    actions={[{
      variant:"primary",
      text: 'Hire me',
      href: '/https://github.com/LucMuhizi',
    }]}
  />

  <!-- BlogLatestPost Widget **************** 

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
-->
</Layout>
